body {
}

header {
	text-align: center;
}

button {
	padding: 10px 30px;
	border: 1px solid;
	border-radius: 30px;
	background-color: lightseagreen;
}

.big-container {
	display: flex;
	gap: 5%;
	padding: 1% 20%;
	justify-content: center;
}

hr {
	width: 40%;
}
.basicbelow {
	width: 70%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-weight: bolder;
	font-size: 60px;
}

.price_heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: blue;
	padding: 15px 20px;
	border-radius: 30px 30px 3px 3px;
}

.description {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
}

/* RESPOPNSIVENES */
@media {
}
